<form class="form">
    <h1>Atualizar Novo Tecnico</h1>
    <mat-form-field class="form-group">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Alemão" [formControl]="name" required name="name" [(ngModel)]="technician.name">
      <mat-error *ngIf="name.invalid">{{ errorValidName() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-group">
        <mat-label>Cpf</mat-label>
        <input matInput placeholder="000.000.000-00" [formControl]="cpf" required name="cpf" [(ngModel)]="technician.cpf">
        <mat-error *ngIf="cpf.invalid">{{ errorValidCpf() }}</mat-error>  
    </mat-form-field>
      <mat-form-field class="form-group">
        <mat-label>Fone</mat-label>
        <input matInput placeholder="(00) 00000-0000" [formControl]="phone" required name="phone" [(ngModel)]="technician.phone">
        <mat-error *ngIf="phone.invalid">{{ errorValidPhone() }}</mat-error>
    </mat-form-field>

    <button mat-stroked-button [disabled]="activeButton()" color="accent" (click)="update()">Criar</button>
    <button mat-stroked-button color="warn" (click)="cancel()" style="margin-left: 6px;">Cancelar</button>
  </form>